{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}

<div class="row" style="padding-top: 30px;">
<div class="col-1"></div>
<div class="col-10">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Make a Plan</h1>
        <p class="lead">Timespent helps you find things to do. Tell us a little bit about yourself and we'll fill your day with things you'll want to brag to your friends about.</p>

        <!--
        <img src="{{ url_for('static', filename='package/build/svg/calendar.svg') }}">
        -->

        {% call macros.render_form(home_form, action_text='Start your Plan', btn_class='btn btn-primary btn-block') %}
            {{ macros.render_field(home_form.start_location, label_visible=false, placeholder="Starting Location")}}

            {{ macros.render_field(home_form.end_location, label_visible=false, placeholder="Ending Location")}}

            {{ macros.render_field(home_form.start_date, label_visible=false,
            placeholder="Story Date")}}

            {{ macros.render_field(home_form.start_time, label_visible=false )}}

            {{ macros.render_field(home_form.end_time, label_visible=false )}}
        {% endcall %}
    </div>
</div>
</div>
<div class="col-1"></div>
</div>

<div class="row">
<div class="col-1"></div>
<div class="col-10">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">What is it?</h1>
        <p class="lead">Timespent's goal is to help people find activities that suit their interests. Have you ever wanted to meet a friend or go on a date, but not been able to find something that everyone involved wants to do? Timespent solves that problem by learning what types of things interest you and your friends and are within your budget.</p>
    </div>
</div>
</div>
<div class="col-1"></div>
</div>


{% endblock %}