{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}

<div class="row" style="padding-top: 30px;">
<div class="col-1"></div>
<div class="col-10">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Make a Plan</h1>
        <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

        <!--
        <img src="{{ url_for('static', filename='package/build/svg/calendar.svg') }}">
        -->

        {% call macros.render_form(home_form, action_text='Start your Plan', btn_class='btn btn-primary btn-block') %}
            {{ macros.render_field(home_form.start_location, label_visible=false, placeholder="Starting Location")}}

            {{ macros.render_field(home_form.end_location, label_visible=false, placeholder="Ending Location")}}

            {{ macros.render_field(home_form.start_time, label_visible=false, placeholder="Start Time")}}

            {{ macros.render_field(home_form.end_time, label_visible=false, placeholder="End Time")}}
        {% endcall %}
    </div>
</div>
</div>
<div class="col-1"></div>
</div>

<div class="row">
<div class="col-1"></div>
<div class="col-10">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">What is it?</h1>
        <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
</div>
</div>
<div class="col-1"></div>
</div>

<div class="row">
<div class="col-1"></div>
<div class="col-10">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">What do I do with it?</h1>
        <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
</div>
</div>
<div class="col-1"></div>
</div>



{% endblock %}