{% extends "base.html" %}
{% block content %}

<style>

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

* {
    box-sizing: border-box;
}

.map {
    border-radius: 10px;
}


.row {
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: white;
    padding-top: 10px;
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column1 {
    border-radius: 10px;
    background-color: #D3D3D3;
    

    margin: auto;
    position: relative;
}

.column2 {
    flex: 50%;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

</style>

<script>
var geocoder;
var map;
var directionsService;
var directionsDisplay;
var start_add = "{{ start_location | safe }}";
var start_coords;
var end_add = "{{ end_location | safe }}";
var end_coords;


function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: {lat: -34.397, lng: 150.644}});

    directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);

    geocoder = new google.maps.Geocoder();
    geocoder.geocode( {'address': start_add}, function(results, status) {
        start_coords = geocoderCallback(results, status);
        map.setCenter(start_coords);
        map.setZoom(10);
    });
    geocoder.geocode( {'address': end_add}, function(results, status) {
        end_coords = geocoderCallback(results, status);
        displayDirections();
    });
}

function geocoderCallback(results, status) {
    if (status != 'OK') {
        console.log("Geocode failed because " + status);
        return null;
    }
    
    return results[0].geometry.location;
}

function displayDirections() {
    var request = {
        origin: start_coords,
        destination: end_coords,
        travelMode: google.maps.TravelMode["DRIVING"]
    }
    directionsService.route(request, function(response, status) {
        if (status == 'OK') {
            directionsDisplay.setDirections(response);
        }
    });
}
</script>
   
<div class="row">
    <div class="column1">
        <div id="map" style="height: 680px; width: 680px;">
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC94G_D29MnwKOepVNsTOqfu99PYtlcuAU&callback=initMap">
            </script>
        </div>
    </div>
    <div class="column2">
        <font size="+4">This is bigger text</font>
        <font size="+3">This is bigger text</font>
        <font size="+2">This is bigger text</font>
    </div>
</div>

{% endblock %}